<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #imgc{
        border-radius:10px;
    }
    #ns{
        margin-left: 5px;
    }


</style>
<body>
    <div id="ns">
        <h1>Title</h1>
        <a>link</a>
        <p>Topic</p>
        <p>Author</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cum aut, ab explicabo sint cupiditate quos quaerat non rerum vitae, saepe quas sit ipsam illo quisquam voluptates quam placeat nesciunt? Voluptate repellat laborum ea consectetur amet a obcaecati, explicabo id nobis autem quidem voluptas eos maiores deleniti aperiam, quibusdam, numquam in nostrum quaerat excepturi sunt assumenda quo omnis</p>

        
        <img id="imgc" src="/Z">
        
        <div>
            published date
            <small>12/3/21</small>
        </div>
    </div>
</body>
</html>
